html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  49% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

.blink {
  animation: blink 1s infinite;
}

.ScovilleMeter__Number {
  margin: 0;
  font-family: Lato;
  font-size: 30px;
}

.ScovilleMeter__Number--small {
  font-size: 24px;
}

.SauceViewer__Info--Heading {
  font-size: 30px;
  font-family: Lato;
}